body {
  background-color: #d3ddff;
}

/*FONTS */
.Baskervville{
  font-family: 'Baskervville', serif;
}

.Garamond{
  font-family: 'EB Garamond', serif;
}

.Didot{
  font-family: 'GFS Didot', serif;
}

.Bodoni{
  font-family: 'Libre Bodoni', serif;
}

.Playfair{
  font-family: 'Playfair Display', serif;
}

.Roboto{
  font-family: 'Roboto', sans-serif;
}

.Handlee{
  font-family: 'Handlee', cursive;
}


/* Navbar Hover Stroke  */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

/*Navebar Style End*/

.background-white{
  background-color: white;
}

.background-pink{
  background-color: rgb(255, 255, 255);
}

.text-darkblue{
  color:rgb(19, 43, 169);
}

.text-purple{
  color:rgb(57, 7, 117);
}

#text-darkblue{
    color:rgb(19, 43, 169);
}

.display-1{
  font-size: 6rem
}

/*Custom Navbar Toggler */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='3 3 25 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(19, 43, 169, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
} 

.nav-item{
  font-size: large;
}

/*Toggler End */

/*Header Background Images End */
.background-rainbow{
  color: white;
  background: url(../img/rainbow1.jpg) no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  background-position: center;
  text-shadow: 2px 1.5px black;

}

.background-rainbow-2{
  color: white;
  background: url(../img/wavey-rainbow3.png) no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  background-position: 5% 10%;;
  text-shadow: 2px 1.5px black;
}

.background-rainbow-3{
  color: white;
  background: url(../img/wavey-rainbow2.png) no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  background-position: 50% 95%;;
  text-shadow: 2px 1.5px black;
  
}

.background-darkblue{
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%);
}

.bg-img-1{
  background: url(../img/craft_one.jpg) no-repeat;
  background-size: cover;
  background-clip: padding-box;
  background-position: center;
}

.bg-img-2{
  background: url(../img/BoroSafeClubInsta1.jpg) no-repeat;
  background-size: cover;
  background-position: 0%;
}

/*Backround Images End */

.blurbox{
  box-shadow: 3px 3px 10px rgb(92, 92, 92);
}

.border-black{
  border: 2px solid black;
  box-shadow: 1px 1px 5px rgb(92, 92, 92);
}

.border-bottom{
  border-bottom: 2px solid rgb(0, 0, 0);
}

.border-left{
  border-left: 2px solid rgb(0, 0, 0);
}



.height-test{
  height: 250px;
}
 

.flagsize{
  width: 100%;
  max-width: 300px;
  height: auto;
}


a:link#insta-link{
  color: rgb(22, 41, 255);
  font-size: 2.6vw;
}

a:visited#insta-link{
  color: rgb(22, 41, 255);
}

a:hover#insta-link{
  color:rgb(35, 0, 148);
}

a:active#white-link-text{
  color:rgb(0, 0, 0);
}



a:link#white-link-text{
  color: white;

}

a:visited #white-link-text{
  color:white
}

a:hover#white-link-text{
  color:rgb(202, 202, 202);
}

a:active#white-link-text{
  color:white;
}


.h3pt5{
  font-size: 1.5rem;
};



