body {
  background-color: #F3F0F0;
}

.background-white{
  background-color: white;
}


#text-darkblue{
    color:rgb(19, 43, 169);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='3 3 25 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(19, 43, 169, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: white;
  } 

  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
  

  .background-rainbow{
    color: white;
    background: url(../img/rainbow1.jpg) no-repeat;
    background-size: 100%;
    background-clip: padding-box;
    background-position: center;
    text-shadow: 2px 1.5px black;

  }

  .background-darkblue{
    background-color:rgb(19, 43, 169); 
  }

  .bg-img-1{
    background: url(../img/rainbow1.jpg) no-repeat;
  }